<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
   		<title>Registrar Empleado</title>
		<script type="text/javascript"
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
			</script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
      <div th:replace="fragments/header4 :: header"></div>
      <br>
      <br>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img class ="img-fluid" th:src="@{/img/Work2Gether.png}" alt="Logo de Work2gether">
          </div>
          <div class="col"></div>
        </div>
        <br>
        <br>


<body>

<form th:action="@{/empleado/registrar}" th:object="${empleado}" class="justify-content-center border-0 shadow-none">
<div class="row">
 	<div class="col-3"></div>
    <div class="col-md-2 bg-warning pt-4 rounded">
      
      <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
        <p class="pb-3">Nombre de usuario</p> 
      </div>
    </div>
<div class="col-md-1"></div>
    <div class="col-md-3 bg-warning pt-3 rounded">
      <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
        <input th:field="*{nombre}" type="text" placeholder="Nombre de Usuario..." class="form-control" name="uname" required> 
      </div>
    </div>
  </div>  
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Apellido Paterno</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input th:field="*{aPaterno}" type="text" placeholder="Apellido Paterno..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Apellido Materno</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input th:field="*{aMaterno}" type="text" placeholder="Apellido Materno..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Contraseña</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input th:field="*{contrasena}" type="text" placeholder="Contraseña..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Confirmar Contraseña</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input type="text" placeholder="Confirmar Contraseña..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Correo Electronico</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input th:field="*{correo}" type="text" placeholder="Correo Electronico..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Género</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
      <input th:field="*{genero}" type="text" placeholder="Género..." class="form-control" name="uname" required> 
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-3"></div>
  <div class="col-md-2 bg-warning pt-4 rounded">
    
    <div class="bg-white text-black font-weight-bold rounded pt-3 text-center">
      <p class="pb-3">Jefe</p> 
    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-3 bg-warning pt-3 rounded">
    <div class="bg-white text-black font-weight-bold rounded pt-2 text-center">
     <select class="form-control" th:field="*{jefe.idJefe}">
                                        <option th:each="e: ${listaJefes}"
                                            th:value="${e.idJefe}"
                                            th:text="${e.Nombre}"
                                            th:selected="(${e.idJefe}==*{jefe.idJefe})"> 
                                        </option>
                                    </select>
    </div>
  </div>
</div>
<br>

    <div class="col-md-12 p-4">
      <div class="row justify-content-center">
        <button type="submit" class="bnt btn-primary col-md-2 font-weight-bold rounded">Registrarse</button>

      </div>

    </div>
    </form>
        <br>
        <br>
        
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>